input {
    width:60px;
    height:19px;
    margin-right:6px;
}

button {
    width:50px;
    height:19px;
}

.AcE_bCh_ExT_overlay {
    font-family:verdana;
    font-size:0.7em;
    opacity: 1;
    background-color:yellow;
    border:1px solid orange;
    z-index: 100;

    background-image: url("chrome-extension://nldmgdmhemjllgogonilfflggfohffmp/lib/hilite/bch.png");
    background-size: 2em 2em;
    background-repeat: no-repeat;
    background-position: 2 1;
    padding-left:2.5em;
    padding-right:0.5em;
    padding-top:0.45em;
    padding-bottom:0.45em;
    cursor:pointer;
}

.AcE_bCh_ExT_bch_amount {
    margin-left:1.5em;
    margin-right:1.5em;
    width:100px;
    border:1px solid red;
}
