body {
  width: 40em;
  height: 30.9em;
  background-color: #eaffe0;
}

.header {
  margin-top:0.1em;
  padding:0.7em;

  border:1px solid #86af49;

  position:relative;
  left:0.1em;

  background-color:#d5e1df;

  

  overflow: hidden;
}

.wallet {
  float:right;
}

  .wallet-label {
    font-size: 1.3em;
    font-family: "Helvetica";
    font-weight: default;
    color:rgba(0,0,0,0.7);
    margin-right:0.5em;
  }

  .wallet-amount {
    font-size: 2.5em;
    font-family: "Helvetica";
    font-weight: bold;
    color:rgba(0,0,0,0.65);
  }

  .wallet-refill {
    margin-left:1em;
  }

  .wallet-rescan {
    margin-left:1em;
  }

.bch-price {
  float:left;
  font-size:1em;
  font-family: "verdana";
}

.fake-anchor {
     cursor:pointer;
     color:blue;
     text-decoration:underline;     
}

