.div-backup-wallet {
	
	margin-top:1em;
}

.bip39 {
	font-size:1.5em;
	font-family: verdana;
	background-color: rgb(0,0,0);
	color:yellow;
	padding-left:0.45em;
	padding-top:0.15em;
	padding-right:0.25em;
	padding-bottom:0.35em;
	text-align:left;
}


.button-close-backup {
	margin-top:1em;
  	font-size: 1.25em;
  	width:5em;
  	height:2em;
  	float:right;
}




